!enet-master/enet.vcxproj
!enet-master/enet.vcxproj.user
enet-master/enet.dir
enet-master/CMakeFiles
enet-master/Win32
enet-master/ZERO_CHECK.vcxproj
enet-master/ALL_BUILD.vcxproj

Debug/
Release/
!SDL_ttf-2.0.11/VisualC/external/lib/x86/*
!SDL_ttf-2.0.11/VisualC/external/lib/x64/*
!SDL_mixer-1.2.12/VisualC/external/lib/x86/*
!SDL_mixer-1.2.12/VisualC/external/lib/x64/*
!SDL_image-1.2.12/VisualC/external/lib/x86/*
!SDL_image-1.2.12/VisualC/external/lib/x64/*

# OS X.
.DS_Store

# Xcode
xcuserdata
*.xcuserstate
*.xccheckout

# Visual Studio.
.vs
*.sdf
*.opensdf
*.suo
*.VC.db
*.VC.VC.opendb
/intermediate
/product
